@import "bourbon/bourbon";

////////////////////////////////////////////////////////// Custom Stylings Below
s.product-price__price {
  display: none !important;
}

ul.site-footer__linklist {
  @include display(inline-flex);
  @include justify-content(flex-start);
  li.site-footer__linklist-item a {
    color: #fff;
  }
}

#ComparePrice-product-template > span {
  display: none;
}

.grid-view-item {
  text-align: center;
}

.product-price__sale-label {
  display: none;
}

ul.site-nav {
  @include display(flex);
  @include justify-content(center);
}

.filters-toolbar-wrapper {
  display: none;
}

.site-nav--centered .site-nav__link {
    margin: 0 20px;
}

.site-footer__copyright {
  text-align: left !important;
  @media screen and (max-width: 749px) {
    text-align: center !important;
  } 
}

.site-footer__social-icons, .site-footer__copyright {
  margin-top: 25px;
}

#shopify-section-footer > footer > div > div:nth-child(2) > div:nth-child(2) > div {
  // text-align: right !important;
  @media screen and (max-width: 480px) {
    text-align: center !important;
  }

}

#ProductSection-product-template > div > div:nth-child(2) > div > div:nth-child(2) > form {
  display: block;
  width: 350px;
}

.site-footer img {
  width: 40.5px;
}

.doubly-nice-select.slim {
  margin-right: 10px;
}

.site-footer {
  background-color: rgba(0, 0, 0, 0.89);
  margin-bottom: 0px;
  margin-top: 15px;
  // padding: 20px 0px;
}

.btn--secondary {
  color: black;
  background-color: white;
}

.wrap-checkout {
  max-width: 300px;
}

.selector-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.product-form__item--submit {
  padding-left: 10px;
  padding-right: 10px;
}

#AddToCart-product-template {
  margin-bottom: 5px;
}

.site-footer__newsletter {
  max-width: 320px;
  text-align: center;
}

footer .site-footer__newsletter {
  display: none;
}

#newsletter-wrapper, .newsletter-section {
  width: 100%;
  padding-left: 0px !important;
  background-color: white !important;
  z-index: 1000000000 !important;
  position: relative;
  padding-top: 0px; 
  @media screen and (min-width: 1250px) {
    margin-top: -120px;
  }
  @media screen and (max-width: 1249px) {
    margin-top: -120px;
  }
  @media screen and (max-width: 1150px) {
    // margin-top: -200px;
  }
  @media screen and (max-width: 1050px) {
    // margin-top: -180px;
  } 
  @media screen and (max-width: 970px) {
    margin-top: -130px;
  }
  @media screen and (max-width: 920px) {
     margin-top: -120px;
   }  
  @media screen and (max-width: 850px) {
    margin-top: -105px;
  } 
  @media screen and (max-width: 749px) {
    margin-top: -70px;
  } 

  label.h2 {
    text-align: left !important;
    @media screen and (max-width: 749px) {
      text-align: center !important;
    } 
  }
  .newsletter__input {
    border-left-width: 0px;
  }
}

.newsletter-section div.section-header{
  margin-top: 25px;
  @media screen and (min-width: 750px) {
    margin-bottom: 15px !important;
  } 
}

.newsletter-section .page-width {
    position: relative;
    width: 100%;
}

.newsletter-section .password__input-group {
      @media screen and (min-width: 750px) {
        margin: 0 0 55px;
      } 
}

  .social-icons .icon {
    @media screen and (min-width: 901px) {
      color: #fff;
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: 900px) {
       color: #fff;
       width: 28px;
       height: 28px;
     }  
    @media screen and (max-width: 750px) {
      width: 26px;
      height: 26px;
    } 
  }

  #collection-image-wrapper {
    max-width: 400px;
    overflow: hidden;
    position: relative;
  }

  #collection-image-wrapper a:hover {
    opacity: 0.8;
    transition: 1s;
  }

  #collection-image-wrapper .grid-view-item__image-wrapper img {
    // transition: transform 0.4s;
  }

  #collection-image-wrapper .grid-view-item__image-wrapper:hover img{
    // zoom: 150%;
    // transform: scale(1.5);
  }


#collection-image-wrapper .grid-view-item__image-wrapper button {
    z-index: 2468;
    display: none;
    transition: display 3s;
    
 }

 #collection-image-wrapper .grid-view-item__image-wrapper:hover button {
    z-index: 2468;
    display: block;
    position: absolute;
    top: 50%;
    height: 35px;
    width: 45%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 16px;
    opacity: 1 !important;
    transition: 3s;

 }

 .flex-wrap-items {
  @include display(flex);
  height: 100%;
  @include justify-content(center);
  @include align-items(center);
 }

.feature-row__text {
 @media screen and (max-width: 749px) {
   text-align: center;
 } 
}

.collection-grid-item {
    @include display(flex);
    height: 100%;
    @include justify-content(center);
    @include align-items(center);
    text-align:  center;
    padding-bottom: 0px;
    height: 510px;
    &__title {
    border: 1px solid black;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s;
    color: black;
    width: 60%;
    background: rgba(255,255,255,0.4);
    padding: 5px;
  }
  &__link:hover {
    opacity: 0.9;
  }
  &__link:hover h3 {
    visibility: visible;
    opacity: 1;
  }
}

.collection-flex {
  @include display(flex);
  height: 100%;
  @include justify-content(center);
  @include align-items(center);
}