s.product-price__price {
  display: none !important; }

ul.site-footer__linklist {
  display: inline-flex;
  justify-content: flex-start; }

#ComparePrice-product-template > span {
  display: none; }

.grid-view-item {
  text-align: center; }

.product-price__sale-label {
  display: none; }

ul.site-nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.filters-toolbar-wrapper {
  display: none; }

.site-nav--centered .site-nav__link {
  margin: 0 20px; }

.site-footer__copyright {
  text-align: left !important; }
  @media screen and (max-width: 749px) {
    .site-footer__copyright {
      text-align: center !important; } }

.site-footer__social-icons, .site-footer__copyright {
  margin-top: 25px; }

@media screen and (max-width: 480px) {
  #shopify-section-footer > footer > div > div:nth-child(2) > div:nth-child(2) > div {
    text-align: center !important; } }

#ProductSection-product-template > div > div:nth-child(2) > div > div:nth-child(2) > form {
  display: block;
  width: 350px; }

.site-footer img {
  width: 35px; }

.doubly-nice-select.slim {
  margin-right: 10px; }

.site-footer {
  background-color: rgba(221, 221, 221, 0.6);
  margin-bottom: 0px;
  margin-top: 55px;
  padding: 20px 0px; }

.btn--secondary {
  color: black;
  background-color: white; }

.wrap-checkout {
  max-width: 300px; }

.selector-wrapper {
  padding-left: 10px;
  padding-right: 10px; }

.product-form__item--submit {
  padding-left: 10px;
  padding-right: 10px; }

#AddToCart-product-template {
  margin-bottom: 5px; }

.site-footer__newsletter {
  max-width: 320px;
  text-align: center; }

footer .site-footer__newsletter {
  display: none; }

#newsletter-wrapper, .newsletter-section {
  width: 100%;
  padding-left: 0px !important;
  background-color: white !important;
  z-index: 1000000000 !important;
  position: relative;
  padding-top: 0px; }
  @media screen and (min-width: 1250px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -220px; } }
  @media screen and (max-width: 1249px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -220px; } }
  @media screen and (max-width: 1150px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -200px; } }
  @media screen and (max-width: 1050px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -180px; } }
  @media screen and (max-width: 970px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -160px; } }
  @media screen and (max-width: 920px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -130px; } }
  @media screen and (max-width: 850px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -105px; } }
  @media screen and (max-width: 749px) {
    #newsletter-wrapper, .newsletter-section {
      margin-top: -70px; } }
  #newsletter-wrapper label.h2, .newsletter-section label.h2 {
    text-align: left !important; }
    @media screen and (max-width: 749px) {
      #newsletter-wrapper label.h2, .newsletter-section label.h2 {
        text-align: center !important; } }
  #newsletter-wrapper .newsletter__input, .newsletter-section .newsletter__input {
    border-left-width: 0px; }

.newsletter-section div.section-header {
  margin-top: 25px; }
  @media screen and (min-width: 750px) {
    .newsletter-section div.section-header {
      margin-bottom: 15px !important; } }

.newsletter-section .page-width {
  position: relative;
  width: 100%; }

@media screen and (min-width: 750px) {
  .newsletter-section .password__input-group {
    margin: 0 0 55px; } }

@media screen and (min-width: 901px) {
  .social-icons .icon {
    width: 30px;
    height: 30px; } }
@media screen and (max-width: 900px) {
  .social-icons .icon {
    width: 28px;
    height: 28px; } }
@media screen and (max-width: 750px) {
  .social-icons .icon {
    width: 26px;
    height: 26px; } }

/*# sourceMappingURL=custom.css.map */
